.Header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 12px 10px;
}

.logo {
    width: 150px;
}

.btn-signup {
    background: white;
    outline: none;
    padding: 6px 12px;
    border: 1px solid black;
    cursor: pointer;
}

.btn-signup:hover {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
}